
body {
    background: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.myName{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 30px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
.images {
  margin-right: 10px;
  border: 1px, black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 0px 4px 0 rgba(0, 0, 0, 1);
  }
.dark-mode{
    background-color: black;
    color: white;
}


#birthday{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
    font-size: 65px;
    font-weight: 500;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 0px 4px 0 rgba(0, 0, 0, 1);
    overflow: visible;
}

#background{
    font-weight: 500;
    background-image: url('image/happy-birthday-banner-background.jpg');   
}